@use "./mixins.scss" as *;
@use "./variables/mediaQuery.scss" as *;



%reset {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  @extend %reset;
}
body {
  height: 100%;
}
* {
  @extend %reset;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}
